In [1]:
from Portfolio import PortfolioMgr
import inspect

In [2]:
mgr = PortfolioMgr('hang2','zhhISbest2',"Default")
total_bp = mgr.get_bp_owned()

mgr.add_portfolio(name = 'First',ini_bp = total_bp * 0.01)

assert abs(mgr.portfolios['First'].bp - total_bp * 0.01) < 1e-5

mgr.portfolios['First'].bp = total_bp*0.02

mgr.update_allocatable_buying_power()

assert abs(mgr.unassigned_bp - total_bp*0.98) < 1e-5

mgr.add_bp_to("First",total_bp*0.01)

assert abs(mgr.portfolios['First'].bp - total_bp*0.03)<1e-5
assert abs(mgr.unassigned_bp - total_bp*0.97)<1e-5
oss = mgr.get_securities_owned()
if not len(oss):
    raise Exception("No shares to test, please add at least one stock to your account")
scode = list(oss.keys())[0]
iniv = oss[scode]

mgr.add_shares_to("First",scode,1)
assert mgr.portfolios["First"].shares_owned(scode) == 1
assert mgr.unassigned_shares[scode] == iniv-1
mgr.draw_bp_from("First",total_bp*0.01)
assert abs(mgr.portfolios['First'].bp - total_bp*0.02)<1e-5
assert abs(mgr.unassigned_bp - total_bp*0.98)<1e-5
mgr.draw_shares_from("First",scode,1)
assert mgr.portfolios["First"].shares_owned(scode) == 0

mgr.add_portfolio(name = 'Second',ini_bp = total_bp * 0.03)
mgr.transfer_bp('Second','First',0.005*total_bp)
assert abs(mgr.portfolios["First"].bp-0.025*total_bp)<1e-5
assert abs(mgr.portfolios["Second"].bp-0.025*total_bp)<1e-5

mgr.add_shares_to('Second',scode,1)
mgr.transfer_shares('Second','First',scode,1)
assert mgr.portfolios['Second'].shares_owned(scode) == 0
assert mgr.portfolios['First'].shares_owned(scode) == 1

In [3]:
mgr.portfolios['First'].trading_record

                            SIDE  SCODE    PRICE AMOUNT   ORDER_TYPE
2018-01-12 14:36:14.842693  None   None  45.6226      1       add bp
2018-01-12 14:36:15.909838  None  BRK.B     None      1    add share
2018-01-12 14:36:15.921707  None   None  45.6226      1      draw bp
2018-01-12 14:36:15.934484  None  BRK.B     None      1   draw share
2018-01-12 14:36:16.982339  None  BRK.B  194.872      1  transfer in

In [4]:
mgr.portfolios['Second'].trading_record

                            SIDE  SCODE    PRICE AMOUNT    ORDER_TYPE
2018-01-12 14:36:16.979131  None  BRK.B     None      1     add share
2018-01-12 14:36:16.984088  None  BRK.B  194.872      1  transfer out

In [14]:
a.drop('a')

   0   1  2
b  1  35  5

In [15]:
a

   0   1  2
a  0  23  1
b  1  35  5

In [4]:
mgr.portfolios["First"].portfolio_record

Empty DataFrame
Columns: [AVG_COST, SHARES]
Index: []